@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish';
    background-color: #F7FBF8;
    padding: 1rem 12rem 0 4rem;
}

h1 {
    font-size: 40px;
    color: #333333;
    /* color: rgb(37, 36, 36); */
}
#bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bio img {
    height: 400px;
    width: 400px;
    margin: 2rem 0 0 4rem;
    border-radius: 30px;
}


.info {
    width: 30rem;
    min-width: 15rem;
    /* max-width: 35rem; */
}

.info h2 {
    font-size: 30px;
    margin-bottom: 1rem;
    color: /*#2E4261*/#6098C0 /*green*/;
}

.info p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 0.5rem;
}

button {
    margin-top: 1rem;
    /* float: right; */
    font-size: 0.9rem;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 7px;
    color: white;
    background: #005A9B;
    opacity: 0.9;
    transition: 0.5;
}

button:hover {
    /* border: 0.5px solid;
    background-color: #F7FBF8;
    color: #005A9B; */
    opacity: 1;
    cursor: pointer;
}

@media (min-width:375px) and (max-width:400px) {
    body {
        padding: 1rem;
    }
    
    h1 {
            font-size: 35px;
    }
    
    #bio {
        display: block;
    }
    
    #bio img {
        height: 250px;
        width: 250px;
        margin: 1rem 1.5rem;
    }

    .info {
        width: auto;
        padding: 2vw;
    }
}